@model TDiary.ViewModel.HomeViewModel

<div class="content">
    <div class="row">
        <div class="col-sm-5">  
        <h3>What'ya been up to?</h3>
        <a asp-action="Add" asp-controller="Trip" class="btn btn-primary btn-block">Been on a trip</a>
        <a asp-action="Add" asp-controller="Chow" class="btn btn-primary btn-block">Had some chow</a>
        <a asp-action="Add" asp-controller="Sight" class="btn btn-primary btn-block">Saw something funky</a>
        <a href="#" onclick="javascript:alert('Sleeping on it')" class="btn btn-default btn-block">Took a noteworthy nap</a>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
        @if(Model.ShowRecentExperiences)
        {
            <h3>Recent experiences:</h3>
            @foreach (var i in Model.Activities)
            {
                <div>
                    <a class="delete-cross" asp-action="Delete" asp-controller="@i.ExperienceType" asp-route-id="@i.Id" title="Delete this @i.ExperienceType">X</a>
                    <a asp-action="Edit" asp-controller="@i.ExperienceType" asp-route-id="@i.Id">@i.Experience</a>
                </div>
            }   
        }
        </div>
    </div>
<div>