@model TDiary.Providers.ViewModel.Model.ExperienceListViewModel

@if (Model.ShowRecentExperiences)
{
    <h3>Experiences: (most recent first)</h3>
    @foreach (var i in Model.Experiences)
    {
        <div class="row experience">
            <div class="col-sm-8">
                <a class="clickable-experience" asp-action="Edit" asp-controller="@i.ExperienceType" asp-route-id="@i.Id" asp-route-sourceLocation="Experience">@i.FullExperience</a><br>
            </div>
            <div class="col-sm-4 experience-toolbar">
                <a asp-action="Delete" asp-controller="@i.ExperienceType" asp-route-id="@i.Id" asp-route-sourceLocation="Experience" title="Delete this @i.ExperienceType">This never happened!</a>
                <div class="visible-@i.IsLastOfTheDay.ToString().ToLower()">
                    <a asp-action="OrderActivityUp" asp-route-activityId="@i.Id">Move to after the experience above</a><br>
                </div>
                <div class="visible-@i.IsFirstOfTheDay.ToString().ToLower()">
                    <a asp-action="OrderActivityDown" asp-route-activityId="@i.Id">Move to before the experience below</a><br>
                </div>
            </div>
        </div>
    }

    <span class="page-number">@string.Format("Page {0}", Model.PageNumber+1)</span>
    @Html.HiddenFor(m => m.PageNumber)
    var previous = Model.PageNumber == 0 ? 0 : Model.PageNumber - 1;
    var next = Model.PageNumber + 1;
    <span>
        <a asp-action="Index" asp-route-pageNumber="@previous" class="visible-@Model.IsFirstPage.ToString().ToLower()">Previous</a>
        <a asp-action="Index" asp-route-pageNumber="@next" class="visible-@Model.IsLastPage.ToString().ToLower()">Next</a>
    </span>
}
else
{
    <h3>You haven't experienced much yet! Get adventuring!</h3>
}