@model TDiary.Providers.ViewModel.Model.ExperienceListViewModel

@if (Model.ShowRecentExperiences)
{
    <h3>Experiences: (most recent first)</h3>
    @foreach (var i in Model.Experiences)
    {
        <div class="row experience">
            <div class="col-sm-8">
                <a class="clickable-experience" asp-action="Edit" asp-controller="@i.ExperienceType" asp-route-id="@i.Id" asp-route-sourceLocation="Experience">@i.FullExperience</a><br>
            </div>
            <div class="col-sm-4 experience-toolbar">
                <a class="" asp-action="Delete" asp-controller="@i.ExperienceType" asp-route-id="@i.Id" asp-route-sourceLocation="Experience" title="Delete this @i.ExperienceType">This never happened!</a>
                <div class="visible-@i.IsLastOfTheDay.ToString().ToLower()">
                    <a class="" asp-action="OrderActivityUp" asp-route-activityId="@i.Id">Move to after the experience above</a><br>
                </div>
                <div class="visible-@i.IsFirstOfTheDay.ToString().ToLower()">
                    <a class="" asp-action="OrderActivityDown" asp-route-activityId="@i.Id">Move to before the experience below</a><br>
                </div>
            </div>
        </div>
    }
}
else
{
    <h3>You haven't experienced much yet! Get adventuring!</h3>
}